/* Variables */

.color-footer {
    --footer-color: #FFF;
    --footer-bg-color: #47555E;  
  }
  
  /* Reset */
  * {
    font-family: 'Segoe UI', sans-serif;
    box-sizing:border-box; 
    outline:none;
    margin:0;
    padding:0;
  }

  /* Navbar */
  .footer {  
    display:flex;
    align-items:center; 
    justify-content:space-between;   
    height: 122px;
    font-size:1rem;
    background:var(--footer-bg-color);
    color:var(--footer-color);
  }
  
  /*  Small device */
  @media screen and (max-width:955.98px) {
    .footer__links { 
    display:flex;  
    flex-direction: column;
    position: relative;
    left: 46px;
    }
    .footer__link { 
      padding:0 10px;
      list-style:none;
    }
    .footer__link > a { 
      color:var(--footer-color);
      text-decoration:none;
    }
    .footer__socials {
      position: relative;
      right: 46px;
    }
    .footer__social p {
        font-size: 1rem;
    }
    .footer__social img {
        width: 32px;
        height: 32px;
    }
  }
  
  /*  Medium device */
  @media screen and (min-width:956px) {
    .footer__links { 
      display:flex;  
      position: relative;
      left: 140px;
      }
      .footer__link { 
        padding:0 10px;
        list-style:none;
      }
      .footer__link > a { 
        color:var(--footer-color);
        text-decoration:none;
      }
      .footer__socials {
        display: flex;
        align-items: center;
        position: relative;
        right: 140px;
      }
      .footer__socials p {
          font-size: 22px;
          margin-right: 15px;
      }
      .footer__social img {
          width: 42px;
          height: 42px;
      }
  }
  