
/* Reset */
* {
    font-family: 'Segoe UI', sans-serif;
    box-sizing:border-box; 
    outline:none;
    margin:0;
    padding:0;
  }


/*  Small device */
@media screen and (max-width:879.98px) {

    main {
        position: relative;
        height: calc(100vh - 244px);
        overflow: hidden;
        background-color: #47555E;
        min-height: 300px;
    }
    
    main .title {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        top: 50%;
        transform: translate(0,-50%);
        color: #fff;
        z-index: 10;
    }
    h1 {
        font-size: 36px;
        font-weight: 800;
    }
    h2 {
        font-size: 22px;
        font-weight: 600;
    }
    main img {
        width: 100%;
        height:  calc(100vh - 244px);
        position: relative;
        left: 50%;
        transform: translate(-50%);
        object-fit: cover;
        min-height: 300px;
    }
}
/*  Medium device  */
@media screen and (min-width:880px) {
    main {
        height: calc(100vh - 122px);
        overflow: hidden;
        background-color: #47555E;
    }
    main .title {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        top: calc(50% + 61px);
        transform: translate(0,-50%);
        color: #fff;
        z-index: 10;
    }
    h1 {
        font-size: 64px;
        font-weight: 800;
        
    }
    h2 {
        font-size: 36px;
        font-weight: 600;
    }
    main img {
        width: 100%;
        height: calc(100vh - 122px);
        position: relative;
        left: 50%;
        transform: translate(-50%);
        object-fit: cover;
    }
  }